input:not(:placeholder-shown) ~ label,
input:focus ~ label,
input:active ~ label {
  transform: translateY(-32px);
  @apply bg-pink-400;
  padding: 0px 10px;
  border-radius: 4px;
  transition: 0.3s;
}
